#profile-form {
  padding: 2% 0;
  margin-top: 7%;
  margin-left: 37%;
  border-radius: 8px;
  border: solid 2px black;
  width: 25%;
  font-size: 19px;
  box-shadow: 3px 3px 25px grey;
}

#prof-picture {
  margin-left: 40%;
  width: 100px;
  height: 100px;
}

.main-info {
  margin-left: 20%;
}

#rating {
  margin-bottom: 12%;
}

#edit-link {
  margin-left: 9%;
}

#posts-link {
  margin-left: 40%;
}

#back-link {
  position: absolute;
  top: 55px;
  left: 45px;
}

@media (max-width: 1500px) {
  #profile-form {
    width: 30%;
  }
}

@media (max-width: 1200px) {
  #profile-form {
    margin-top: 12%;
    width: 40%;
  }
}

@media (max-width: 950px) {
  #profile-form {
    width: 55%;
    margin-top: 15%;
  }
}

@media (max-width: 768px) {
  #profile-form {
    width: 55%;
    margin-top: 20%;
  }

  #prof-picture {
    width: 80px; 
    height: 80px;
  }

  .main-info {
    font-size: 16px;
  }

  #edit-link, #posts-link {
    font-size: 14px;
  }
}

@media (max-width: 530px) {
  #profile-form {
    width: 70%;
    margin-top: 25%;
    margin-left: 20%;
  }

  #prof-picture {
    width: 70px;
    height: 70px;
  }

  .main-info {
    font-size: 14px;
  }

  #edit-link, #posts-link {
    font-size: 12px;
  }
}
